// color variables

$primary-color: #007bbf;
$primary-hover-color: #0056b4;
$success-color: #28a745;
$success-hover-color: #218838;
$title-color: #333;
$bg_color: rgb(229, 227, 227);

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $bg_color;
}

.content {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0.1);
  text-align: center;

  h1 {
    color: $primary-hover-color;
  }

  h3 {
    color: $primary-hover-color;
  }

  table {
    width: 100%;
    margin-top: 10%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      border: 1px solid #ccc;

      th {
        background-color: #f0f0f0;
        color: #333;
      }
    }
  }
  a {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 20px;
    background-color: $primary-color;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3 ease;

    //hover over a tag
    &:hover {
      background-color: $primary-hover-color;
    }
  }

  input {
    padding: 10px;
    margin: 5px;
    border: solid 1px;
    border-radius: 5px;
  }

  #btn_add {
    background-color: $success-color;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: $success-hover-color;
    }
  }
}
